$clr-pri-1: hsl(238, 29%, 16%);
$clr-pri-2: hsl(14, 88%, 65%);

$clr-neut-1: hsl(0, 0%, 100%);
$clr-neut-2: hsl(237, 12%, 33%);
$clr-neut-3: hsl(240, 6%, 50%);
$clr-neut-4: hsl(240, 5%, 91%);

$clr-bg-grd: linear-gradient(to bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7); 

$fs-h1: 2rem;
$fs-h3: 0.83rem;
$fs-copy: 0.75rem;

$fw-reg: 400;
$fw-bold: 700;