/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(to bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
}

h1 {
  color: rgb(29, 30, 53);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

h3 {
  color: hsl(237deg, 12%, 33%);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
@media screen and (min-width: 900px) {
  h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}

p {
  color: hsl(240deg, 6%, 50%);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

main {
  height: 100vh;
  padding: 150px 24px;
}
@media screen and (min-width: 900px) {
  main {
    padding: 0px 75px;
    padding-top: 128px;
  }
}

.card {
  margin: auto;
  background-color: hsl(0deg, 0%, 100%);
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 23px;
  box-shadow: 3px 30px 50px rgba(29, 30, 53, 0.4);
}
@media screen and (min-width: 900px) {
  .card {
    display: block;
    grid-template-columns: 1fr 1fr;
    height: 509px;
    padding-left: 0;
    padding-right: 0;
    max-height: 509px;
    max-width: 1210px;
  }
}
.card-image {
  height: 212px;
  width: 238px;
  background-image: url(../images/illustration-woman-online-mobile.svg), url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 237px 180px, 240px 104px;
  background-position: top center, bottom center;
  margin-top: -128px;
}
@media screen and (min-width: 900px) {
  .card-image {
    height: 509px;
    width: 472px;
    float: left;
    background-image: url(../images/illustration-box-desktop.svg), url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 184px 191px, 472px 359px, 964px 964px;
    background-position: -10px 208px, 0px 75px, -491px -285px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -75px;
    margin-right: 87px;
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .card-content {
    align-items: flex-start;
    padding-top: 65px;
  }
}
.card-content .title {
  margin-bottom: 40px;
}
@media screen and (min-width: 900px) {
  .card-content .title {
    margin-bottom: 45px;
  }
}
.card-content .faq {
  margin-bottom: 48px;
}
@media screen and (min-width: 900px) {
  .card-content .faq {
    padding-right: 95px;
  }
}
.card-content .faq .faq-item {
  margin-bottom: 19px;
}
@media screen and (min-width: 900px) {
  .card-content .faq .faq-item {
    margin-bottom: 18px;
  }
}
.card-content .faq .faq-item .faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  cursor: pointer;
  transition: all 0.5s;
}
.card-content .faq .faq-item .faq-title:hover {
  color: hsl(14deg, 88%, 65%);
}
@media screen and (min-width: 900px) {
  .card-content .faq .faq-item .faq-title {
    margin-bottom: 18px;
  }
}
.card-content .faq .faq-item .faq-title .icon-arrow {
  display: inline-block;
  height: 6px;
  width: 9px;
  background-image: url(../images/icon-arrow-down.svg);
  transition: all 0.5s;
}
.card-content .faq .faq-item .faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s;
}
.card-content .faq .faq-item .break-line {
  height: 1px;
  width: 100%;
  background-color: hsl(240deg, 5%, 91%);
  margin-top: 2px;
}
@media screen and (min-width: 900px) {
  .card-content .faq .faq-item .break-line {
    margin-top: -3px;
  }
}/*# sourceMappingURL=style.css.map */